<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='duplicate_checker.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='base_functions.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='actions.js') }}"></script>
		
	</head>
	
	<body> 
		<div>
			<br>
			<br>
			{% include 'header.jinja2.html' %}
			<br>
			<br>
			<br>
			<label for="name">Actions on dirs:</label>
			<div class="scroll_list scroll_list_height"></div>
				{% for d in dirs %}
				<label><input type="checkbox" name="dir_id_{{ d.id }}" class="dir_checkbox" value="dir_id_{{ d.id }}">dir {{d.id}} - [{% if d.enabled %}&#x2705;{% else %}&#x274c;{% endif %}] - {{ d.full_path }}</label><br>
				{% endfor %}
			<br>
			<br>
			<input type="submit" value="compare" onclick="compare_dirs();">
			<input type="submit" value="delete" onclick="delete_dirs();">
			<input type="submit" value="check" onclick="check_dirs();">
			<input type="submit" value="find copies" onclick="find_copies();">
			<input type="submit" value="split" onclick="split_dirs();">
			<input type="submit" value="compile new dir" onclick="compile_dir();">
			<input type="submit" value="enable" onclick="enable_dirs();">
			<input type="submit" value="disable" onclick="disable_dirs();">
		<br>
		</div>
    
    </body>
</html>
