<!DOCTYPE html>
<!-- ver0.2 -->
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='duplicate_checker.css') }} ">
	</head>
	
	<body> 
		<div>
			<br>
			<br>
			{% include 'header.jinja2.html' %}
			<br>
			<br>
			path(s) to new dir(s):<br>
			<form class="space_between_scroll" action="" method="post">
				<br>
				<textarea name="path_to_dir" title="path to dir" cols="120" maxlength="100000" rows="20"></textarea>
				<br>
				<br>
				<label><input type="checkbox" name="is_etalon" value="is_etalon"> mark as etalon </label><br>
				<label><input type="checkbox" name="add_subdirs" value="add_subdirs"> add subdirs instead of dir </label><br>
				<br>
				<br>
				
				<input type="submit" value="add dir(s)">
			</form>
			
		</div>
    
    </body>
</html>
