<!DOCTYPE html>
<!-- ver1.1 -->
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='duplicate_checker.css') }} ">
	</head>
	
	<body> 
		<div>
			<br>
			<br>
			{% include 'header.jinja2.html' %}
			<br>
			<br>
			Directory <br>
			ID: {{ dir.id }}<br>
			Name: {{ dir.name }}<br>
			Full path: {{dir.full_path}}<br>
			<br>
			<br>
			[<a href="/ui/edit-dir/{{ dir.id }}" title="edit">edit</a>]<br>
			[<a href="/api/find-copies?dir_id={{ dir.id }}" title="find copies of files in DB">find copies</a>]<br>
			[<a href="/api/check-dirs?dir_id={{ dir.id }}" title="check if dir has actual file checksums">check dir</a>]<br>
			[<a href="/api/delete-dirs?dir_id={{ dir.id }}" title="remove this dir from DB">delete dir</a>]<br>
			[<a href="/api/split-dirs?dir_id={{ dir.id }}" title="split dir into subdirs">split dir</a>]<br>
			<br>
			<br>
			Added: {{ dir.date_added }}<br>
			Checked: {{ dir.date_checked }}<br>
			Is etalon: {% if dir.is_etalon %}yes{% else %}no{% endif %}<br>
			Total files: {{dir.files | length}}<br>
			Comment: {{ dir.comment }}<br>
			<br><br><br>------ FILES:-------<br>
			
			<br>
			<br>
			{% for f in dir.files %} {{f.full_path}} - [<a href="/api/get-files-by-checksum?checksum={{ f.checksum }}" title="find files with the same checksum">{{ f.checksum }}</a>] [<a href="/ui/show-file/{{f.id}}" title="show">show</a>] [<a href="/api/delete-file?file_id={{f.id}}" title="delete">delete</a>] <br>  {% endfor %}<br>
			<br>
			<br>
			<br>
		</div>
    
    </body>
</html>
