<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='duplicate_checker.css') }} ">
	</head>
	
	<body> 
		<div>
			<br>
			<br>
			{% include 'header.jinja2.html' %}
			<br>
			<br>
			Tasks:<br>
			[<a href="/start-all-tasks" title="start all tasks successively">start all</a>]<br>
			<br>
			<br>
			{% for t in tasks %} {{ tasks.index(t) }} - {{ t.descr }} - {% if t.running %} running {% else %} {% endif %} - {% if t.complete %} complete {% else %} incomplete {% endif %} - {{ t.state }} - [<a href="/show-task/{{ tasks.index(t) }}" title="show this task">show</a>] [<a href="/start-task/{{ tasks.index(t) }}" title="start this task">start</a>]<br> {% endfor %}<br>
			<br>
			<br>
			<br>

		</div>
    
    </body>
</html>
