<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='duplicate_checker.css') }} ">
	</head>
	
	<body> 
		<div>
			<br>
			<br>
			{% include 'header.jinja2.html' %}
			<br>
			<br>
			Tasks:<br>
			[<a href="/start-autostart" title="start autostart">start autostart</a>] [<a href="/stop-autostart" title="disable task autostart, current task will continue to run">stop autostart</a>]<br>
			autostart: {{ autostart }}, running: {{ is_running }}, current task: {{ current_task }}<br>
			<br>
			<br>
			<br>
			{% for t in tasks %}task {{ tasks.index(t) }} - {{ t.descr }} - state: {{ t.state }} - result: {% if t.result_OK == True %} <span style="color: green;">OK</span> {% elif t.result_OK == None %} <span style="color: grey;">N/A</span> {% else %} <span style="color: red;">FAIL</span> {% endif %}- [<a href="/show-task/{{ tasks.index(t) }}" title="show this task">show</a>] [<a href="/save-task/{{ tasks.index(t) }}" title="save task result">save</a>] [<a href="/start-task/{{ tasks.index(t) }}" title="start this task">start</a>]<br> {% endfor %}<br>
			<br>
			<br>
			<br>

		</div>
    
    </body>
</html>
